*{
  margin: 0px;
  padding: 0px;
  border: border-box;
  
  
}
.navbaar{
  background-color: #D5E5A4;
  display: flex;
  position: relative;
 }
 .nav-logo{
   height: 60px;
   width: 60px;
   
   }
.logo{
  margin: auto;
  height: 55px;
  width: 55px;
  background-image: url("w3.png");
  border-radius: 50%;
  background-size: cover;
}
.menu{
  margin: auto;
}
#search{
  margin: auto;
  
}
#a{
  text-decoration: none;
  font-size: 25px;
  
}
#button1{
  margin: auto;
  
}
#log{
  text-decoration: none;
  border-radius: 13px;
  background-color: lightgreen;
  font-size: 17px;
  height: 27px;
  width: 100px;
}
table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-spacing: 15px 5px;
  height: 25px;
  border-collapse: separate;
  background-color: #37475a;
  font-weight: 300;
 
  
}
tr{
  background-color: #37475a;
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  color: white;
  
}
th{
  table-layout: 50;
}
#body{
  margin: 0px 15px;
  text-align: center;
  height: 1000px;
  background-image: url("body.jpg");
  background-size: cover;
  
}
#ltc{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 27px;
  
}
#h1{
  color: white;
  font-size: 55px;
 
}
#world{
  text-align: center;
  padding: 0px 70px;
  
}
#h2{
  color: yellow;
  font-size: 23px
 
}
.box{
               padding:40px 0px;
               display: flex;
               justify-content: center;
               align-items: center;
             }

            #input{
              width: 250px;
              height: 50px;
             
            
              font-size: 20px;
              text-align: center;
              background-color: lightcyan;
              border-radius: 12px;
              border: 3px solid blueviolet;
            
            }
            #input::placeholder {
              color: brown;
            }
            #button{
              font-size: 25px;
              padding:10px;
              font-weight:500;
              cursor: pointer;
              transition: 0.4s;
              border-radius: 10px;
              background-color: lightgreen;
              border: 2px solid purple;
              color: brown;
              outline: none;
            } 
  #a1{
    margin: auto;
    text-align: center;
    padding: 30px 0px;
  }
  #a2{
    color: white;
    font-size: 27px;
    text-decoration: underline;
    font-weight: 600;
  }
  #h3{
    text-align: center;
    
    margin-top: 100px ;
    
  }
  #h4{
    font-size: 70px;
  }
  #h5{
    text-align: center;
    padding: 18px 0px;
    
  }
  #h6{
    font-size: 23px;
    font-weight: 400;
  }
  #b1{
    font-size: 22px;
    border-radius: 25px;  
    height: 40px;
    width: 180px;
    border: none;
    background: none;
  }
  #b2{
font-size: 22px;
    height: 40px;
    width: 180px;
    border: none;
    background-color: yellow;
    border-radius: 25px;
  }
  #b3{
    font-size: 22px;
    height: 40px;
    border-radius: 25px;
    width: 360px;
    border: none;
    background: none;
  }
  #b4{
    font-size: 22px;
    height: 40px;
    border-radius: 25px;
    width: 360px;
    border: none;
    background-color: pink;
  }
  .a3{
    font-size: 35px;
  }
  #css{
    background-color: lightyellow;
    text-align: center;
    margin: 0px 15px;
    padding: 60px 0px;
  }
  #h7{
    font-weight: 400;
  }
  #full{
    background-color: #37475a;
    margin: 0px 15px;
    padding-top: 70px;
    
  }
  #b8{
    font-size: 22px;
    border-radius: 25px;  
    height: 40px;
    width: 180px;
    border: none;
    background: none;
  }
  #smallbox{
    background-color: lightyellow;
    text-align: center;
    margin-left: 12px;
    padding: 50px 0px;
    margin-right: 12px;
    margin-bottom: 12px;
    
    border-radius: 5px;
    
  }
  #boxs{
    padding: 40px 0px;
    text-align: center;
    margin: 12px;
    border-radius: 5px;
    
   }
   #a8{
     text-decoration: none;
     font-size: 35px;
     color: black;
   }
  #am{
    text-decoration:none;
    color:black;
  }
    
